h1{
	text-align:left;
	font-size:22px;
}

h2{
	text-align:right;
	font-size:40px;
}

body{
	background: url("https://www.publicdomainpictures.net/pictures/210000/velka/blue-bricks-background.jpg");
	background-size: cover;
	color: #fff;
	font-family: Helvetica;
}
